*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties */

html {
    scroll-behavior: smooth;
}

:root {
    --ff-primary: 'Source Sans Pro';
    --ff-secondary: 'Permanent Marker';

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #0F3343;
    --clr-accent: #F15855;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-doby: 1rem;
    --fs-small: 0.85rem;

    --bs-big: 5px 5px 15px rgba(0, 0, 0, 0.9);
    --bs-small: 5px 5px 15px rgba(0, 0, 0, 0.6);

    --cb: cubic-bezier(0.075, 0.82, 0.165, 1);

    --br: 5px;
}

@media (min-width: 600px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-doby: 1.125rem;   
        --fs-small: 0.95rem;     
    }
}

/* general style */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-doby);
    line-height: 1.6;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.s-c {
    max-width: 40em;
}

.s-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
    justify-content: center;
}

/* buttons */

.btn {
    display: inline-block;
    padding: 1.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: var(--br);
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: var(--bs-big);
}

/* typography */

h1, h2, h3 {
    line-height: 1;
    margin-top: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.s-t {
    margin-bottom: .25rem;
}

.s-t-intro {
    font-weight: var(--fw-reg);
}

.s-t-intro strong {
    display: block;
}

.s-subt {
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
    color: var(--clr-accent);
}

/* header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    max-width: 80px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 50%;
    overflow: hidden;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms var(--cb);
}

.nav-list {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

.nav-link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 200;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg);
    top: 0;
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2.5em;
    height: 4px;
    border-radius: 1em;
    transition: transform 250ms var(--cb);
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 8px;}
.hamburger::after {bottom: 8px;}

/* intro */

.s-c-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s-subt-intro {
    font-size: calc(var(--fs-h3) + 1rem) ;
    margin: 0;
}

.list-intro {
    display: flex;
    font-size: calc(var(--fs-h3) + 0.6rem);
    color: var(--clr-accent);
}

.link-intro {
    color: var(--clr-accent);
    margin-right: 0.6em;
}

/* skills */

.skills {
    background: var(--clr-dark);
    background-image: url('assets/bg1.jpg');
    background-size: cover;
    color: var(--clr-light);
    background-blend-mode: multiply;
}

.card-skills {
    display: flex;
    flex-direction: column;
    background: var(--clr-light);
    color: var(--clr-dark);
    box-shadow: var(--bs-big);
    border-radius: var(--br);
    text-align: center;
    cursor: pointer;
    transition: 500ms var(--cb);
}

.card-skills:hover {
    transform: scale(1.1);
    box-shadow: var(--bs-small);
}

.card-t-skills {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    padding: 1em;
    border-bottom: 1px solid var(--clr-dark);
}

.card-list-skills {
    padding: 2em;
}

.card-item-skills {
    display: flex;
    align-items: center;
}

.card-item-skills + .card-item-skills {
    margin-top: 1em;
}

.card-item-skills img {
    height: 30px;
    margin-right: 20px;
}

/* about */

.s-c-about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.s-c-about p {
    text-align: justify;
    text-justify: inter-word;
}

/* projects */

.projects {
    background: var(--clr-dark);
    background-image: url('assets/bg2.jpg');
    background-size: cover;
    background-blend-mode: multiply;
}

.s-t-projects {
    color: var(--clr-light);
}

.s-cards-projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}

.card-projects {
    display: grid;
    grid-template-rows: 200px 1fr 50px;
    grid-template-areas: "image" "text" "stats";
    background: var(--clr-light);
    border-radius: var(--br);
    box-shadow: var(--bs-big);
    text-align: center;
    cursor: pointer;
    transition: 500ms var(--cb);
}

.card-projects:hover {
    transform: scale(1.1);
    box-shadow: var(--bs-small);
}

.card-img-projects {
    grid-area: image;
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
    overflow: hidden;
}

.card-txt-projects {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.6em;
}

.card-txt-projects h3 {
    margin: 0;
}

.card-link-projects {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
    background: var(--clr-accent);
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    text-decoration: none;
    transition: 500ms var(--cb);
    font-size: var(--fs-h3);
}

.card-link:hover {
    opacity: 0.7;
    font-size: calc(var(--fs-h3) + 4px);
}

/* footer */

.footer {
    background: #0A151F;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-list-link:hover {
    opacity: .7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-list-link {
    padding: .5em;
}